[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = "*"
typing-extensions = "*"

[dev-packages]
pylint = "*"
mypy = "*"
twine = "*"
vermin = "*"
pre-commit = "*"
black = "*"
textual-dev = "*"

[requires]
python_version = "3.8"
